@import url(http://fonts.googleapis.com/css?family=Oswald);


/* BG *******************************************************************/
body {
    /*background: url('/background/background.jpg') 100% no-repeat;*/
    background: #e0e0de;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    color: #192229;
    overflow-x: hidden;
    font-size: 8px;
}

/* LOADING PAGE *********************************************************/
#bodyLoading {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#loadingPage {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

#loadingPage .center {
    margin-left: auto;
    margin-right: auto;
    background: url('/background/loading.gif') 100% no-repeat;
    height: 17px;
    width: 112px;
}

/* NAVIGATION BAR ********************************************************/

.navBar {
    background: #192229;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navBar .title {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-top: 3px;
}

.navBar .menuBtn {
    background: url('/icons/menu.svg') no-repeat;
    margin-top: 8px;
}

.navBar .backBtn {
    background: url('/icons/back.svg') no-repeat;
    margin-top: 6px;
}

.navBar .settingsBtn {
    background: url('/icons/settings.svg') no-repeat;
    margin-top: 4px;
}


/* LOGIN *****************************************************************/
#login .center {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#login .flat-form {
    background: #192229;
    margin: 25px auto;
    width: 100%;
    height: 300px;
    position: relative;
    color: #e0e0de;
    padding: 25px;
    font-size: 14px;
}

#login .flat-form form input[type=text],
#login .flat-form form input[type=text],
#login .flat-form form input[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 7px;
    background: #2e3336;
    border: none;
    color: #e0e0de;
    outline: none;
}

#login .flat-form form input[type=submit] {
    width: 100%;
}

#login .flat-form .button {
    border: none;
    display: block;
    background: #0b141b;
    height: 40px;
    color: #e0e0de;
    text-align: center;
    margin-top: 20px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#login .flat-form ::-webkit-input-placeholder {
    color: #e0e0de;
}

#login .flat-form :-moz-placeholder {
    /* Firefox 18- */
    color: #e0e0de;
}

#login .flat-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #e0e0de;
}

#login .flat-form :-ms-input-placeholder {
    color: #e0e0de;
}

#login .flat-form input.ng-invalid {
    border: 1px solid red !important;
}

/* Ignore pace preloaded on login page */
body.login .pace{
    display: none !important;
}

/* ALARMS *****************************************************************/
.alarms .alarmInfo label, .alarmInfo textarea, .alarmInfo .btn {
    font-size: 8px;
}

.alarms .green {
    color: green;
}

.alarms .red {
    color: red;
}

.alarms .big {
    font-size: 16px;
}

.alarms .progress {
    margin-bottom: 2px;
}

.alarms .progress .bar {
    height: 100%;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;;
}

.alarms .modalAlert {
    margin: 20px;
}

.alarms div > select {
    margin-top: 7px;
}

.alarms div > input[type="radio"] {
    margin-top: 12px;
}

.alarms .achtung {
    color: red;
}

.alarms .danger {
    background-image: linear-gradient(to bottom, #df3829, #df4e3e) !important;
}

.alarms .glyphicon {
    margin-top: 4px;
}


/* SERVER LIST **************************************************************/

#serverList {
    margin: 5px;
    color: #2e3336;
    font-size: 24px;
}

#serverList ul li {
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
    background: #f9f9f9;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 0.4em solid;
}

#serverList ul li:nth-child(odd) {
   /*background:rgba(255,255,255,0.4);*/
}

#serverList ul li:first-child {
    margin-top: 0px;
}

#serverList ul li div.serverName {
    text-transform: uppercase;
}

#serverList ul li div.serverDescription {
    font-size: 12px;
}

#serverList ul li div.serverAlarmCount {
    background: #c7254e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    float: right;
    margin-top: -45px;
    text-align: center;
    padding-top: 5px;
}

#serverList ul li.avk6b1 {
    border-color: #058599;
}

#serverList ul li.hgd0b1 {
    border-color: #D64F2A;
}

#serverList ul li.hgd0b2 {
    border-color: #78B901;
}

#serverList ul.avos {
    border-color: #2572EA;
}

#serverList ul li.kstb1 {
    border-color: #DFB501;
}

#serverList ul li.hgdb1 {
    border-color: #F58903;
}

#serverList ul li.f-other {
    border-color: #FD77BC;
}

#serverList ul li.f-mobile {
    border-color: #FD77BC;
}

#serverList ul li.test {
    border-color: #058599;
}

#serverList ul li.vostest {
    border-color: #00D7CB;
}