@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,400);


/* BG *******************************************************************/
body {
    background: url('/background/background.jpg') no-repeat;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
    font-size: 8px;
}

/* LOADING PAGE *********************************************************/
#bodyLoading {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#loadingPage {
    /*background: #191f26;*/
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

#loadingPage .center {
    margin-left: auto;
    margin-right: auto;
    background: url('/background/loading.gif') no-repeat;
    height: 100px;
    width: 100px;
}


/* NAVIGATION BAR ********************************************************/

.supersonic-navbar-mock {
    background-color: #00B5FF !important;
    text-align: center;
    font-weight: 600;
}

.navBar {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navBar .title {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: bold;
    padding-top: 3px;
}

.navBar .menuBtn {
    background: url('/icons/menu.svg') no-repeat;
    margin-top: 8px;
}

.navBar .backBtn {
    background: url('/icons/back.svg') no-repeat;
    margin-top: 6px;
}

.navBar .settingsBtn {
    background: url('/icons/settings.svg') no-repeat;
    margin-top: 4px;
}


/* LOGIN *****************************************************************/
#login .center {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#login .flat-form {
    background: #0480be;
    margin: 25px auto;
    width: 100%;
    height: 300px;
    position: relative;
    color: #ffffff;
    padding: 25px;
    font-size: 14px;
}

#login .flat-form form input[type=text],
#login .flat-form form input[type=text],
#login .flat-form form input[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 7px;
    background: #136898;
    border: none;
    color: #ffffff;
    outline: none;
}

#login .flat-form form input[type=submit] {
    width: 100%;
}

#login .flat-form .button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#login .flat-form ::-webkit-input-placeholder {
    color: #149bdf;
}

#login .flat-form :-moz-placeholder {
    /* Firefox 18- */
    color: #149bdf;
}

#login .flat-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #149bdf;
}

.flat-form :-ms-input-placeholder {
    color: #149bdf;
}

.flat-form input.ng-invalid {
    border: 1px solid red !important;
}

/* ALARMS *****************************************************************/
.alarms .alarmInfo label, .alarmInfo textarea, .alarmInfo .btn {
    font-size: 8px;
}

.alarms .green {
    color: green;
}

.alarms .red {
    color: red;
}

.alarms .big {
    font-size: 16px;
}

.alarms .progress {
    margin-bottom: 2px;
}

.alarms .progress .bar {
    height: 100%;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;;
}

.alarms .modalAlert {
    margin: 20px;
}

.alarms div > select {
    margin-top: 7px;
}

.alarms div > input[type="radio"] {
    margin-top: 12px;
}

.alarms .achtung {
    color: red;
}

.alarms .danger {
    background-image: linear-gradient(to bottom, #df3829, #df4e3e) !important;
}

.alarms .glyphicon {
    margin-top: 4px;
}
