@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* BG *******************************************************************/
body {
    /*background: url('/background/background.jpg') 100% no-repeat;*/
    /*background: #e0e0de;*/
    background: #192229;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #e0e0de;
    overflow-x: hidden;
    font-size: 8px;
}

/* LOADING PAGE *********************************************************/
#bodyLoading {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#loadingPage {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

#loadingPage .center {
    margin-left: auto;
    margin-right: auto;
    background: url('/background/loading.gif') 100% no-repeat;
    height: 17px;
    width: 112px;
}

/* NAVIGATION BAR ********************************************************/

.navBar {
    background: #192229;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navBar .title {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-top: 3px;
}

.navBar .menuBtn {
    background: url('/icons/menu.svg') no-repeat;
    margin-top: 8px;
}

.navBar .backBtn {
    background: url('/icons/back.svg') no-repeat;
    margin-top: 6px;
}

.navBar .settingsBtn {
    background: url('/icons/settings.svg') no-repeat;
    margin-top: 4px;
}


/* LOGIN *****************************************************************/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.container {
    color: #B5B7BA;
    display: table-cell;
    vertical-align: middle;
}

#login {
    color: #f5f5f5;
    width: 280px;
    border: 0 none;
    margin-left: auto;
    margin-right: auto;
}

#login p.logo {
    /*background: url("/background/logo.png") 100% no-repeat;*/
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 240px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

#login form span {
    background-color: #363b41;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    color: #646769;
}

#login form input {
    height: 50px;
    border: 0px none;
    border-radius: 0px;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
}

#login form input[type="text"], #login input[type="password"] {
    background-color: #3b4148;
    color: #B5B7BA;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 230px;
}

#login form input[type="submit"] {
    background-color: #ea4c88;
    color: #e0e0de;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
    border: 0 none;
}

#login form input[type="submit"]:hover {
    background-color: #d44179;
}

#login > p {
    text-align: center;
}

#login > p span {
    padding-left: 5px;
}


#login .flat-form input.ng-invalid {
    border: 1px solid red !important;
}

/* Ignore pace preloaded on login page */
body.login .pace{
    display: none !important;
}

/* ALARMS *****************************************************************/
.alarms .alarmInfo label, .alarmInfo textarea, .alarmInfo .btn {
    font-size: 8px;
}

.alarms .green {
    color: green;
}

.alarms .red {
    color: red;
}

.alarms .big {
    font-size: 16px;
}

.alarms .progress {
    margin-bottom: 2px;
}

.alarms .progress .bar {
    height: 100%;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;;
}

.alarms .modalAlert {
    margin: 20px;
}

.alarms div > select {
    margin-top: 7px;
}

.alarms div > input[type="radio"] {
    margin-top: 12px;
}

.alarms .achtung {
    color: red;
}

.alarms .danger {
    background-image: linear-gradient(to bottom, #df3829, #df4e3e) !important;
}

.alarms .glyphicon {
    margin-top: 4px;
}


/* SERVER & ALARM LIST **************************************************************/

#serverList, #alarmsList {
    font-size: 24px;
}

#serverList ul li, #alarmsList ul li {
    margin-top: 2px;
    padding: 5px 10px 5px 10px;
    background: #363b41;
    color: #e0e0de;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 0.4em solid;
}

#alarmsList ul li {
    font-size: 18px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px none;
}

#serverList ul li:first-child {
    margin-top: 0px;
}

#serverList ul li div.serverName {
    text-transform: uppercase;
}

#serverList ul li div.serverDescription {
    font-size: 12px;
}

#serverList ul li div.serverAlarmCount {
    background: #c7254e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    float: right;
    margin-top: -45px;
    text-align: center;
    padding-top: 5px;
}

#serverList ul li.avk6b1 {
    border-color: #058599;
}

#serverList ul li.hgd0b1 {
    border-color: #D64F2A;
}

#serverList ul li.hgd0b2 {
    border-color: #78B901;
}

#serverList ul li.avos {
    border-color: #2572EA;
}

#serverList ul li.kstb1 {
    border-color: #DFB501;
}

#serverList ul li.hgdb1 {
    border-color: #F58903;
}

#serverList ul li.f-other {
    border-color: #FD77BC;
}

#serverList ul li.f-mobile {
    border-color: #FD77BC;
}

#serverList ul li.test {
    border-color: #058599;
}

#serverList ul li.vostest {
    border-color: #00D7CB;
}

#alarmsList ul li.ok div.alarmListStatus, #alarmsList ul li.alarm div.alarmListStatus {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: -10px 10px 0 0;
}

#alarmsList ul li.ok div.alarmListStatus {
    color: green;
}

#alarmsList ul li.alarm div.alarmListStatus {
    color: red;
}

#alarmsList ul li div.alarmListStatus i {
    font-size: 30px;
}

#alarmsList ul li div.alarmListName {

}

#alarmsList ul li div.alarmListRight {
    float: right;
    font-size: 30px;
    margin-top: -35px;
}