@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,400);

.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

/* BG */
body {
    background-color: #f2f2f3;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
    font-size: 8px;
}


/* ALARMS */
.alarmInfo label, .alarmInfo textarea, .alarmInfo .btn {
    font-size: 8px;
}

.navBar {
    background: #058599;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navBar .title {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    font-family: 'Ek Mukta', sans-serif;
}

.navBar .menuBtn {
    background: url('/icons/menu.svg') no-repeat;
    margin-top: 6px;
}

.navBar .backBtn {
    background: url('/icons/back.svg') no-repeat;
    margin-top: 6px;
}

.navBar .settingsBtn {
    background: url('/icons/settings.svg') no-repeat;
    margin-top: 4px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 5px 15px 7px 25px;
    height: 48px;
    text-transform: uppercase;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 5px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.big {
    font-size: 16px;
}

.progress {
    margin-bottom: 2px;
}

.progress .bar {
    height: 100%;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;;
}

.modalAlert {
    margin: 20px;
}

div > select {
    margin-top: 7px;
}

div > input[type="radio"] {
    margin-top: 12px;
}

.achtung {
    color: red;
}

.danger {
    background-image: linear-gradient(to bottom, #df3829, #df4e3e) !important;
}

.glyphicon {
    margin-top: 4px;
}

/* LOGIN */
.center {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.flat-form {
    background: #0480be;
    margin: 25px auto;
    width: 100%;
    height: 300px;
    position: relative;
    color: #ffffff;
    padding: 25px;
    font-size: 14px;
}
.flat-form form input[type=text],
.flat-form form input[type=text],
.flat-form form input[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
    background: #fff;
    border: none;
    color: #149bdf;
    outline: none;
}
.flat-form form input[type=submit] {
    width: 100%;
}
.flat-form .button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.flat-form ::-webkit-input-placeholder {
    color: #149bdf;
}
.flat-form :-moz-placeholder {
    /* Firefox 18- */
    color: #149bdf;
}
.flat-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #149bdf;
}
.flat-form :-ms-input-placeholder {
    color: #149bdf;
}
.flat-form input.ng-invalid {
    border: 1px solid red !important;
}