@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,400);


/* BG *******************************************************************/
body {
    background: url('/background/background2.jpg') no-repeat;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
    font-size: 8px;
}

/* LOADING PAGE *********************************************************/
#bodyLoading {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#loadingPage {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

#loadingPage .center {
    margin-left: auto;
    margin-right: auto;
    background: url('/background/loading.gif') no-repeat;
    height: 500px;
    width: 500px;
}

/* NAVIGATION BAR ********************************************************/

.supersonic-navbar-mock {
    background-color: #00B5FF !important;
    text-align: center;
    font-weight: 600;
}

.navBar {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.navBar .title {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: bold;
    padding-top: 3px;
}

.navBar .menuBtn {
    background: url('/icons/menu.svg') no-repeat;
    margin-top: 8px;
}

.navBar .backBtn {
    background: url('/icons/back.svg') no-repeat;
    margin-top: 6px;
}

.navBar .settingsBtn {
    background: url('/icons/settings.svg') no-repeat;
    margin-top: 4px;
}


/* LOGIN *****************************************************************/
#login .center {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#login .flat-form {
    background: #0480be;
    margin: 25px auto;
    width: 100%;
    height: 300px;
    position: relative;
    color: #ffffff;
    padding: 25px;
    font-size: 14px;
}

#login .flat-form form input[type=text],
#login .flat-form form input[type=text],
#login .flat-form form input[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 7px;
    background: #136898;
    border: none;
    color: #ffffff;
    outline: none;
}

#login .flat-form form input[type=submit] {
    width: 100%;
}

#login .flat-form .button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#login .flat-form ::-webkit-input-placeholder {
    color: #149bdf;
}

#login .flat-form :-moz-placeholder {
    /* Firefox 18- */
    color: #149bdf;
}

#login .flat-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #149bdf;
}

#login .flat-form :-ms-input-placeholder {
    color: #149bdf;
}

#login .flat-form input.ng-invalid {
    border: 1px solid red !important;
}

/* Ignore pace preloaded on login page */
body.login .pace{
    display: none !important;
}

/* ALARMS *****************************************************************/
.alarms .alarmInfo label, .alarmInfo textarea, .alarmInfo .btn {
    font-size: 8px;
}

.alarms .green {
    color: green;
}

.alarms .red {
    color: red;
}

.alarms .big {
    font-size: 16px;
}

.alarms .progress {
    margin-bottom: 2px;
}

.alarms .progress .bar {
    height: 100%;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;;
}

.alarms .modalAlert {
    margin: 20px;
}

.alarms div > select {
    margin-top: 7px;
}

.alarms div > input[type="radio"] {
    margin-top: 12px;
}

.alarms .achtung {
    color: red;
}

.alarms .danger {
    background-image: linear-gradient(to bottom, #df3829, #df4e3e) !important;
}

.alarms .glyphicon {
    margin-top: 4px;
}


/* SERVER LIST **************************************************************/

#serverList {
    margin: 5px;
    color: #ffffff;
    font-size: 24px;
}

#serverList ul li {
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    background:rgba(255,255,255,0.3);
}


#serverList ul li:nth-child(odd) {
    background:rgba(255,255,255,0.4);
}

#serverList ul li:first-child {
    margin-top: 0px;
}


#serverList ul li div.left {
    width: 2%;
    float: left;
    margin-right: 10px;
}

#serverList ul li div.avk6b1 {
    background: rgb(5, 133, 153);
}

#serverList ul li div.hgd0b1 {
    background: rgb(214, 79, 42);
}

#serverList ul li div.hgd0b2 {
    background: rgb(120, 185, 1);
}

#serverList ul li div.avos {
    background: rgb(37, 114, 234);
}

#serverList ul li div.kstb1 {
    background: rgb(223, 181, 1);
}

#serverList ul li div.hgdb1 {
    background: rgb(245, 137, 3);
}

#serverList ul li div.f-other {
    background: rgb(253, 119, 188);
}

#serverList ul li div.f-mobile {
    background: rgb(253, 119, 188);
}

#serverList ul li div.test {
    background: rgb(5, 133, 153);
}

#serverList ul li div.vostest {
    background: rgb(0, 215, 203);
}

#serverList ul li i.right {
    float: right;
}