<div ng-controller="menuController">

    <div class="list">
        <a href="#" class="item item-icon-left">
            <i class="icon super-ios7-analytics-outline"></i>
            Stats
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon super-ios7-speedometer-outline"></i>
            Alarms
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon super-ios7-checkmark-outline"></i>
            Jenkins
        </a>
    </div>

</div>