<div ng-controller="loginController" class="outer">

    <div class="container">

        <div id="login">

            <p class="logo">Provident app</p>

            <form name="loginForm" novalidate>

                <fieldset class="clearfix">

                    <p><span class="icon super-person"></span><input type="text" placeholder="Username" name="username" ng-model="username"></p>
                    <p><span class="icon super-locked"></span><input type="password" placeholder="Password" name="password" ng-model="password"></p>
                    <!--ng-disabled="loginForm.$pristine"-->
                    <p><input type="submit" value="Sign In" class="button"  ng-click="login()"></p>

                </fieldset>

            </form>

            <p>Need an access? Send email to provident@tele2.com</p>

        </div>

    </div>

</div>
